*{
    background-color: white;
    /* display: flex; */
    padding: 1% 2%;
}
.input-switch{
    display: flex;
    justify-content: end;
    padding-top: 3%;
    padding-bottom: 0%;
}
.slds-textarea {  
    padding: 1% 2%;
    border: none;
    border-radius: inherit;
}  